In [41]:
import pandas as pd
import csv

In [42]:
df = pd.read_csv('../data/Scotland_teaching_file_1PCT.csv')
df.empty #Returns true if empty

False

In [43]:
#df = df.drop_duplicates()
df

,Record_Number,Region,RESIDENCE_TYPE,Family_Composition,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion,Economic_Activity,Occupation,industry,Hours_Worked_Per_Week,Approximate_Social_Grade
0,1,S92000003,P,1,1,4,2,2,2,2,1,5,1,5,5,4,3
1,2,S92000003,P,0,1,3,1,2,1,2,1,1,1,1,8,3,2
2,3,S92000003,P,1,2,4,2,2,1,3,1,1,1,4,8,2,4
3,4,S92000003,P,1,2,6,2,2,1,1,1,1,1,2,8,4,2
4,5,S92000003,P,4,2,4,4,2,1,2,1,1,1,3,11,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63383,63384,S92000003,P,1,1,2,1,1,1,1,1,2,6,X,X,X,3
63384,63385,S92000003,P,1,1,4,2,2,1,1,1,1,1,3,9,3,2
63385,63386,S92000003,P,1,1,5,2,2,1,1,1,9,1,8,3,4,4
63386,63387,S92000003,P,4,2,1,1,1,1,1,1,9,X,X,X,X,X
63387,63388,S92000003,P,1,1,5,2,2,1,2,1,2,2,8,2,4,4

In [50]:
# Verifies everything
flag = True
# Check if all columns are in the dataframe
df.dropna(inplace=True)
df.drop_duplicates(subset=['Record_Number'], keep='first', inplace=True)


condition1 = df['Record_Number'].is_unique # Returns true if unique, 
condition2 = df['RESIDENCE_TYPE'].isin(['C', 'P'])
condition3 = df['sex'].isin([1, 2])
condition4 = df['age'].isin([1, 2, 3, 4, 5, 6, 7, 8])
condition5 = df['Country_Of_Birth'].isin([1, 2])
condition6 = df['Family_Composition'].isin([0, 1, 2, 3, 4, 5, 'X'])
condition7 = df['Marital_Status'].isin([1, 2, 3, 4, 5])
condition8 = df['student'].isin([1, 2])
condition9 = df['health'].isin([1, 2, 3, 4, 5, 6])
condition10 = df['Ethnic_Group'].isin([1, 2, 3, 4, 5, 6])
condition11 = df['Approximate_Social_Grade'].isin([1, 2, 3, 4, 'X'])
condition12 = df['Hours_Worked_Per_Week'].isin([1, 2, 3, 4, 'X'])
condition13 = df['Region'].isin(['S92000003'])



booleanSeries = condition1 & condition2 & condition3 & condition4 & condition5 & condition6 & condition7 & condition8 & condition9 & condition10 & condition11 & condition12 & condition13


df = df[booleanSeries]
    # if false, then drop row
#df = df[df['RESIDENCE_TYPE'].isin(['C', 'P'])]


# Testing
# df['Record_Number'].is_unique # Returns true if unique,
# df['RESIDENCE_TYPE'].isin(['C', 'P'])